.user-chatbot-container {
  padding: 0px 15px 0px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  .icons {
    display: none;
  }
}
.user-chatbot-container:hover {
  background-color: #000000ab;
  .icons {
    display: inline;
  }
}
.user-name {
  margin-bottom: 0px;
  color: white;
  font-weight: 500;
  font-size: 19px;
  text-transform: capitalize;
}
.time-span {
  margin-left: 20px;
  font-size: 17px;
}
.chat {
  color: white;
  margin-top: 0px;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 0px;
}
.icons {
  font-size: 18px;
  margin-left: 5px;
  cursor: pointer;
}
.chat-icons {
  font-size: 20px;
  margin-right: 5px;
}
